
<div class="question-list">

  <h2>質問一覧</h2>

  <div id="question-new-link">
    <%= link_to '新しく質問をする', new_question_path, class: 'btn btn-primary', remote:true %>
  </div>

  <div id="question-ajax">
    <%= render 'questions/question_ajax', questions:@questions %>
  </div>
</div>
