
<%= form_with model:@talk, local:true do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <%= f.submit '投稿' %>
<% end %>
