
<% provide(:title, 'ユーザー登録') %>
<% provide(:submit_button, '新規ユーザー登録') %>


<div class="user-new">
  <h2>ユーザー登録</h2>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 user-container">
      <%= render 'form' %>
    </div>
  </div>
</div>
