
<!-- エラーメッセージ-->
<% if object.errors.any? %>
  <div class="error_message">
    <% object.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </div>
<% end %>
