<% provide(:title, 'ホーム') %>

<div class="home-content">
  <div class="row">
    <h1>シニアーず</h1>
    <div class="seniors-about">
      <h2>シニアーずとは?</h2>
      <p>シニアーずは、お年寄りの出会いやお話相手を見つけることができるサービスです。</p>
      <p>名前、年齢、居住地といった観点で自分好みのお相手を探すことができ、異性、同性問わず、</p>
      <p>様々な方達とお話することができます。</p>
      <p>シニアーずは丁寧なサポートと信頼されるサービスを目指し、一人でも多くの方が充実したセカンドライフ</p>
      <p>を送る手助けをします。</p>
    </div>

    <div class="seniors-way">
      <h2>シニアーずの利用方法</h2>
      <p>シニアーずの利用ですが、60歳から90歳までの方々を対象としています。対象年齢ではないと発覚した場合、</p>
      <p>アカウントは早急に削除しますのでご了承ください。</p>
      <p>シニアーずの利用が初めての方は、シニアーずの使い方を見て頂き、初めにユーザー登録をしてください。</p>
    </div>
  </div>
</div>
