

<% provide(:title, '使い方') %>

<div class="seniors-use">
  <h2>ここではシニアーズの使い方をご説明します。</h2>
  <div class="use_images">
    <h3>1. 新規登録</h3>
    <div class="user-new-screen">
      <%= image_tag 'use1.jpg' %>
      <p>↑上記の新規登録ボタンを押します。</p>
      <%= image_tag 'use2.jpg' %>
      <p>新規登録画面が出てきますので、名前を8文字以内、メールアドレスをxxx@gmail.com方式</p>
      <p>パスワードを半角文字、半角数字を1文字以上使って8文字以上20文字以内で入力し</p>
      <p>最後にパスワード確認フォームにもう一度パスワードを入力し、新規ユーザー登録ボタンを押してください。</p>
    </div>

  </div>
</div>
