
<% provide(:title, 'フリー掲示板') %>

<div class="post-list">
  <h2>フリー掲示板</h2>
  <p>お好きなことを投稿できる掲示板です。</p>
  <div class="new-link-button">
    <%= link_to 'あなたのお気に入り', favorites_path, class: 'btn btn-success' %>
    <div id="post-new-link">
      <%= link_to '投稿する', new_post_path, class:'btn btn-primary', remote: true %>
    </div>
  </div>



  <div id="post-ajax">
    <%= render 'posts/post_ajax', posts:@posts %>
  </div>



  <div class="post-index-paginate"><%= paginate @posts %></div>
</div>
