
.h1{
  text-align: center;
}


//エラーメッセージ
.error_message{
  color: red;
}

//フラッシュ
.alert{
  text-align: center;
}

.header{
  text-align: center;
}
//ヘッダー(ナビゲーション)
.header li{
  list-style: none;
  display: inline-block;
  margin:5px 10px 0px 0px;
  font-size:20px;
}

//users#index
.user-index-name{
  font-size:20px;
  margin-top:5px;
}

.user-index-image img{
  width:150px;
  height:150px;
  border-radius: 10% 10% 10% 10%
}

//users#show
.user-show-image img{
  width:220px;
  height:150px;
  margin-bottom:10px;
}
