

.h1{
  text-align: center;
}


//エラーメッセージ
.error_message{
  color: red;
}

//フラッシュ
.alert{
  text-align: center;
}

.header{
  padding: 10px 0px;
  text-align: center;
  background: linear-gradient(#77a1d3, #79cbca);
  border-radius: 10px;
}
//ヘッダー(ナビゲーション)
.header li{
  list-style: none;
  display: inline-block;
  margin:5px 10px 0px 10px;
  font-size:20px;
  :hover{
    color:green;
    background-color: #FFFFCC;
  }
  a{
    color: black;
  }
}

//home#home

.home-content{
  background-image: linear-gradient(-30deg, rgba(237,191,253,0.7),rgba(221,255,253,0.7)),
  url("seniors_home.jpg");
  background-size: cover;

  height: 100vh;
  h1{
    text-align: center;
  }
}

.seniors-about{
  padding: 10px;
  h2{
    padding-left: 15px;
  }
  p{
    padding: 10px 0px 0px 30px;
  }
}

.seniors-way{
  padding: 0px 10px;
  h2{
    padding-left: 15px;
  }
  p{
    padding: 10px 0px 0px 30px;
  }
}

//users#index

.user-index-list{
  height: 100vh;
  h2{
    text-align: center;
    padding-bottom: 5px;
  }
}

.user-index-name{
  font-size:20px;
  margin-top:5px;
}

.user-index-image img{
  width:150px;
  height:150px;
  border-radius: 50%
}

.user-index-search{
  :hover{
    background-color: #BAD3FF;
  }
}

.user-index-paginate{
  margin-bottom: 10px;
}

//users#new
.user-submit{
  :hover{
    background-color: #CCFFCC;
  }
}

//users#show

.user-show{
  height: 100vh;
}
.user-show-image img{
  width:200px;
  height:200px;
  margin-bottom:10px;
  border-radius: 50%;
}

.user-show-description{
  text-align: center;
  .show-description-title{
    font-weight: bold;
  }
}

.user-image-follow{
  position: relative;
  .user-show-follow{
    position: absolute;
    bottom:0;
    margin:0px 0px 10px 200px;
    .show-folloing{
      margin-right: 10px;
      background-color: #FFCCCC;
      border-radius: 5px;
      padding: 5px;
      border: solid #66FFCC 1px;
      a{
        color:#337ab7;
      }
    }
    .show-follower{
      background-color: #FFCCCC;
      border-radius: 5px;
      padding: 5px;
      border: solid #66FFCC 1px;
      a{
        color: #337ab7;
      }
    }
    .show-follow{
      margin-left: 10px;
      border-radius: 5px;
      display: inline-block;
      background-color:#D9E5FF;
      border: solid #005FFF 1px;
    }
    .show-unfollow{
      margin-left: 10px;
      border-radius: 5px;
      display: inline-block;
      width:90px;
      height: 20px;
      background-color: #FFD5EC;
      border: solid #FF0461 1px;
    }
  }
}


.show-edit-link{
  background-color:#CEF9DC;
  width:90px;
  border: solid #9057FF 1px;
  color:#6699FF;
  padding:2px;
  border-radius: 5px;
}
//users#edit
.user-edit{
  height: 100vh;
}

.user-edit-submit{
  :hover{
    background-color: #DCC2FF;
  }
}
//sessions#new
.session-submit{
  :hover{
    background-color: #CCFFFF;
  }
}

//posts#index

.post-list{
  margin: 10px 0px 0px 30px;
  height: 100vh;
  h2{
    width:600px;
    text-align: center;
  }
  .new-post-link{
    margin-bottom: 20px;
  }
}

.post-content-top{
  img{
    width:70px;
    height: 70px;
    border-radius: 50%;
  }
  .content{
    margin-left: 20px;
    padding-top: 5px;
    font-size: 18px;
    display:inline-block;
    word-wrap: break-word;
    width:550px;

  }
  .iine{
    margin-left: 20px;
    display:inline-block;
  }
}

.fas.fa-heart.gray-heart{
  color:gray;
  font-size: 18px;
}

.fas.fa-heart.red-heart{
  color:red;
  font-size: 18px;
}

.post-user-name{
  margin-bottom: 15px;
}

.post-created_at{
  margin-left: 10px;
}

.post-index-paginate{
  margin-bottom: 10px;
}

//favorites#index

.favorite-list{
  height: 100vh;
  margin-left: 20px;
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
}
.favorite-content-top{
  img{
    width:70px;
    height: 70px;
    border-radius: 50%;
  }
  .favorite-content{
    margin-left: 20px;
    padding-top: 5px;
    font-size: 18px;
    display:inline-block;
    word-wrap: break-word;
    width:550px;
  }
}

.favorite-user-name{
  margin-bottom: 10px;
}

.favorite-created_at{
  margin-left: 10px;
}

//users#matcher
.matcher-image{
  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

//follow-form

.follow-form-image{
  img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  }
}

.follow-form-follow{
  background-color:#D9E5FF;
  border: solid #005FFF 1px;
  border-radius:5px;
  width:65px;
  margin-top: 5px;
}

.follow-form-unfollow{
  background-color:#FFD5EC;
  border: solid #FF0461 1px;
  border-radius:5px;
  width:90px;
  margin-top: 5px;
}

.matcher-name{
  margin-bottom: 10px;
}

//footer
.footer{
  position: fixed;
  bottom :0;
  width: 100%;
  background-color: #FFEEFF;
  p{
    text-align: center;
  }
}
