
.h1{
  text-align: center;
}


//エラーメッセージ
.error_message{
  color: red;
}

//フラッシュ
.alert{
  text-align: center;
}

.header{
  text-align: center;
}
//ヘッダー(ナビゲーション)
.header li{
  list-style: none;
  display: inline-block;
  margin:5px 10px 0px 0px;
  font-size:20px;
  :hover{
    color:green;
    background-color: #FFFFCC;
  }
}

//users#index
.user-index-name{
  font-size:20px;
  margin-top:5px;
}

.user-index-image img{
  width:150px;
  height:150px;
  border-radius: 50%
}

//users#show
.user-show-image img{
  width:200px;
  height:200px;
  margin-bottom:10px;
  border-radius: 50%
}

//footer
.footer{
  position: fixed;
  bottom :0;
  width: 100%;
  p{
    text-align: center;
  }
}
